<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774089458894-k5fvbmfcd3kg4tcg8clf91hlp5q2fouu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774089458894-k5fvbmfcd3kg4tcg8clf91hlp5q2fouu</string>
	<key>API_KEY</key>
	<string>AIzaSyCqpwB4bWlDk17j6vg7W3ENAnw_PoyqMz4</string>
	<key>GCM_SENDER_ID</key>
	<string>774089458894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bornomala.nid.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nid-portal</string>
	<key>STORAGE_BUCKET</key>
	<string>nid-portal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774089458894:ios:0488067819da5f9be37c9f</string>
</dict>
</plist>